* {
  all: unset;
  font-family: Fira Sans;
  transition: 0.3s;
  font-size: 1.2rem;
}

.floating-notifications.background .notification-row {
  padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
  border-radius: 0.5rem;
  background-color: #172421;
  color: #ffffff;
  border: 1px solid #45ffca;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #6febce;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #e0def4;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #8caaa6;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #1d2e2b;
  border: 1px solid #67ffdc;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #233a31;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #6a867f;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #6febc4;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: #172420;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #baebe6;
}

.control-center {
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #172422;
  color: #ffffff;
  padding: 1rem;
  border: 1px solid #00ffff;
}

.control-center .widget-title {
  color: #baebdb;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #1d2e28;
  border: 1px solid #5fffe7;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: #233a34;
}

.control-center .widget-title button:active {
  background-color: #5f867d;
}

.control-center .notification-row .notification-background {
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  background-color: #1d2e29;
  color: #ffffff;
  border: 1px solid #7bffcf;
}

.control-center .notification-row .notification-background .notification {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #6fdbeb;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: #ffffff;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem;
  color: #ffffff;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.5rem;
  color: #8caa9e;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #1d2e29;
  border: 1px solid #38ffd1;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: #233a33;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #6a8680;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #6febad;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: #172420;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #baebe9;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: #6febce;
}

.notification.low progress,
.notification.normal progress {
  background-color: #9cd8d1;
}

trough {
  background-color: #1d2e28;
}

.control-center trough {
  background-color: #6a867c;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: #233a34;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: #8caaa0;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: #233a34;
  border: 1px solid #7affeb;
}

.widget-dnd > switch:checked slider {
  background: #31748f;
}

.widget-dnd > switch slider {
  background: #6a867f;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
